<%= link_to "馬一覧", "horses" %>


<TT><H3>対象世代の産駒データ一覧  (合計 40 頭)</H3>
<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2"
BORDERCOLOR="white" BGCOLOR="#E8E8C8">
<TR BGCOLOR="silver"><TH>馬名</TH><TH>Ｃ馬</TH><TH>性別</TH><TH>年齢</TH><TH>父名</TH><TH>母名</TH><TH>調教師</TH><TH>血統登録番号</TH></TR>
<TR>
<TD NOWRAP >アヴニールマルシェ</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >ヴィートマルシェ</TD><TD NOWRAP >藤沢和雄</TD><TD NOWRAP >2012104552</TD>
</TR>
<TR>
<TD NOWRAP >オメガハートソング</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ゼンノロブロイ</TD><TD NOWRAP >オメガアイランド</TD><TD>　</TD><TD NOWRAP >2012104168</TD>
</TR>
<TR>
<TD NOWRAP >カドルーパの12</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">King's Best</TD><TD NOWRAP >カドルーパ</TD><TD>　</TD><TD NOWRAP >2012109098</TD>
</TR>
<TR>
<TD NOWRAP >パラダイスリッジ</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >クロウキャニオン</TD><TD>　</TD><TD NOWRAP >2012104604</TD>
</TR>
<TR>
<TD NOWRAP >スターミーの12</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ダイワメジャー</TD><TD NOWRAP >スターミー</TD><TD>　</TD><TD NOWRAP >2012104677</TD>
</TR>
<TR>
<TD NOWRAP >フェスタジュニーナ</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >ディアウィンク</TD><TD>　</TD><TD NOWRAP >2012104301</TD>
</TR>
<TR>
<TD NOWRAP >プラパジシャン</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >アビラ</TD><TD NOWRAP >萩原清</TD><TD NOWRAP >2012104521</TD>
</TR>
<TR>
<TD NOWRAP >ラブレターの12</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ハーツクライ</TD><TD NOWRAP >ラブレター</TD><TD>　</TD><TD NOWRAP >2012105806</TD>
</TR>
<TR>
<TD NOWRAP >メリーモナーク</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >リッチダンサー</TD><TD>　</TD><TD NOWRAP >2012104908</TD>
</TR>
<TR>
<TD NOWRAP >ロードグロワール</TD><TD ALIGN="center" BGCOLOR="#0000FF"><FONT COLOR="#FFFFFF">芳</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >エアジュリアード</TD><TD NOWRAP ><FONT COLOR="#0000FF">浅見秀一</FONT></TD><TD NOWRAP >2012102292</TD>
</TR>
<TR>
<TD NOWRAP >アクセラレート</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >オリジナルスピン2</TD><TD NOWRAP ><FONT COLOR="#0000FF">佐々木晶</FONT></TD><TD NOWRAP >2012103981</TD>
</TR>
<TR>
<TD NOWRAP >レッドベルダ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >エリモピクシー</TD><TD>　</TD><TD NOWRAP >2012104944</TD>
</TR>
<TR>
<TD NOWRAP >カシシ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FF00">ジャングルポケット</TD><TD NOWRAP >エヴリウィスパー</TD><TD NOWRAP >木村哲也</TD><TD NOWRAP >2012104557</TD>
</TR>
<TR>
<TD NOWRAP >クローディオ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFFF00">ハービンジャー</TD><TD NOWRAP >シーザリオ</TD><TD NOWRAP ><FONT COLOR="#0000FF">石坂正</FONT></TD><TD NOWRAP >2012104657</TD>
</TR>
<TR>
<TD NOWRAP >サトノシュプリーム</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >スカイディーバ</TD><TD>　</TD><TD NOWRAP >2012104671</TD>
</TR>
<TR>
<TD NOWRAP >ダイワミランダ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFFF00">ハービンジャー</TD><TD NOWRAP >ダイワスカーレット</TD><TD>　</TD><TD NOWRAP >2012104278</TD>
</TR>
<TR>
<TD NOWRAP >トーセンビクトリー</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >トゥザヴィクトリー</TD><TD NOWRAP ><FONT COLOR="#0000FF">角居勝彦</FONT></TD><TD NOWRAP >2012104733</TD>
</TR>
<TR>
<TD NOWRAP >マララ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ゼンノロブロイ</TD><TD NOWRAP >マンデラ</TD><TD>　</TD><TD NOWRAP >2012104860</TD>
</TR>
<TR>
<TD NOWRAP >エターナルスカイ</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープスカイ</TD><TD NOWRAP >メイビーフォーエヴァー</TD><TD>　</TD><TD NOWRAP >2012101601</TD>
</TR>
<TR>
<TD NOWRAP >レーヴミストラル</TD><TD ALIGN="center" BGCOLOR="#FF8000"><FONT COLOR="#FFFFFF">和</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >レーヴドスカー</TD><TD NOWRAP ><FONT COLOR="#0000FF">松田博資</FONT></TD><TD NOWRAP >2012104929</TD>
</TR>
<TR>
<TD NOWRAP >ドゥラメンテ</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >アドマイヤグルーヴ</TD><TD>　</TD><TD NOWRAP >2012104511</TD>
</TR>
<TR>
<TD NOWRAP >カービングパス</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFFF00">ハービンジャー</TD><TD NOWRAP >ハッピーパス</TD><TD NOWRAP >藤沢和雄</TD><TD NOWRAP >2012104757</TD>
</TR>
<TR>
<TD NOWRAP >キングカヌヌ</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >スターダムバウンド</TD><TD NOWRAP ><FONT COLOR="#0000FF">石坂正</FONT></TD><TD NOWRAP >2012104676</TD>
</TR>
<TR>
<TD NOWRAP >アンギアーリ</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ゼンノロブロイ</TD><TD NOWRAP >シリアスアティテュード</TD><TD>　</TD><TD NOWRAP >2012104238</TD>
</TR>
<TR>
<TD NOWRAP >デュアルメジャー</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ダイワメジャー</TD><TD NOWRAP >デュアルストーリー</TD><TD NOWRAP >手塚貴久</TD><TD NOWRAP >2012104730</TD>
</TR>
<TR>
<TD NOWRAP >ドナブリーニの12</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >ドナブリーニ</TD><TD>　</TD><TD NOWRAP >2012104747</TD>
</TR>
<TR>
<TD NOWRAP >バードオブプレイ</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >ヘイハニー</TD><TD NOWRAP ><FONT COLOR="#0000FF">須貝尚介</FONT></TD><TD NOWRAP >2012105584</TD>
</TR>
<TR>
<TD NOWRAP >ダノンブライト</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >ペニーズフォーチュン</TD><TD>　</TD><TD NOWRAP >2012101386</TD>
</TR>
<TR>
<TD NOWRAP >ベルラップ</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ハーツクライ</TD><TD NOWRAP >ベルスリーブ</TD><TD NOWRAP ><FONT COLOR="#0000FF">須貝尚介</FONT></TD><TD NOWRAP >2012104823</TD>
</TR>
<TR>
<TD NOWRAP >ワールドリースター</TD><TD ALIGN="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">小</FONT></TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">Admire Don</TD><TD NOWRAP >ワールドリープレジャー</TD><TD NOWRAP ><FONT COLOR="#0000FF">松田博資</FONT></TD><TD NOWRAP >2012104087</TD>
</TR>
<TR>
<TD NOWRAP >アッシュゴールド</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >オリエンタルアート</TD><TD NOWRAP ><FONT COLOR="#0000FF">池江泰寿</FONT></TD><TD NOWRAP >2012104061</TD>
</TR>
<TR>
<TD NOWRAP >ウインエスパシオ</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ネオユニヴァース</TD><TD NOWRAP >ラストパートナー</TD><TD NOWRAP >畠山吉宏</TD><TD NOWRAP >2012100637</TD>
</TR>
<TR>
<TD NOWRAP >コートシャルマン</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ハーツクライ</TD><TD NOWRAP >コートアウト</TD><TD NOWRAP ><FONT COLOR="#0000FF">松永幹夫</FONT></TD><TD NOWRAP >2012104217</TD>
</TR>
<TR>
<TD NOWRAP >ドリームチェイサー</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFFF00">ハービンジャー</TD><TD NOWRAP >スペシャルグルーヴ</TD><TD NOWRAP ><FONT COLOR="#0000FF">浅見秀一</FONT></TD><TD NOWRAP >2012104688</TD>
</TR>
<TR>
<TD NOWRAP >ブレイクエース</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >キュー</TD><TD NOWRAP >戸田博文</TD><TD NOWRAP >2012104064</TD>
</TR>
<TR>
<TD NOWRAP >ポルトドートウィユ</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >ポルトフィーノ</TD><TD NOWRAP ><FONT COLOR="#0000FF">高野友和</FONT></TD><TD NOWRAP >2012104833</TD>
</TR>
<TR>
<TD NOWRAP >マイネルシアトル</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">アドマイヤムーン</TD><TD NOWRAP >スリーピングインシアトル</TD><TD NOWRAP ><FONT COLOR="#0000FF">中村均</FONT></TD><TD NOWRAP >2012105276</TD>
</TR>
<TR>
<TD NOWRAP >ライムスカッシュ</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#00FFFF">キングカメハメハ</TD><TD NOWRAP >ライムキャンディ</TD><TD>　</TD><TD NOWRAP >2012104448</TD>
</TR>
<TR>
<TD NOWRAP >リアルスティール</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center">牡</TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ディープインパクト</TD><TD NOWRAP >ラヴズオンリーミー</TD><TD>　</TD><TD NOWRAP >2012104889</TD>
</TR>
<TR>
<TD NOWRAP >レッドメアラス</TD><TD ALIGN="center" BGCOLOR="#00FF00">谷</TD><TD NOWRAP  ALIGN="center"><FONT COLOR="#FF0000">牝</FONT></TD><TD NOWRAP  ALIGN="right">2歳</TD><TD NOWRAP  BGCOLOR="#FFC0FF">ステイゴールド</TD><TD NOWRAP >セイランクイーン</TD><TD NOWRAP ><FONT COLOR="#0000FF">須貝尚介</FONT></TD><TD NOWRAP >2012103841</TD>
</TR>
</TABLE>
</TT>
