// Place all the styles related to the horses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftpart{
  width: 30%;
  padding: 10px;
}
.mother {
  background-color: #ffc0cb;
}
.father {
  background-color: #87ceeb;
}
