// Place all the styles related to the horses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image{
  padding: 10px;
  width: 300px;
  height: 300px;
  float: left;
}
.leftpart{
  width: 300px;
  height: 300px;
  padding: 10px;
  float: left;
}
.mother {
  background-color: #ffc0cb;
}
.father {
  background-color: #87ceeb;
}
