// Place all the styles related to the horses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";

@mixin  gradient-top-lighten($color: #C4C04B, $lighten:15%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

.horse-image{
  width: 300px;
  @include border-radius();
}

.rank{
  @include gradient-top-lighten;
  width: 100px;
  size: 12px;
  text-align: center;
}

.image{
  padding: 10px;
  width: 300px;
  height: 300px;
  float: left;
}
.leftpart{
  width: 300px;
  height: 300px;
  padding: 10px;
  float: left;
}
.mother {
  background-color: #ffc0cb;
}
.father {
  background-color: #87ceeb;
}
