// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";


@mixin  gradient-top-lighten($color: #C4C04B, $lighten:15%){
  background-color: $color;
  @include filter-gradient(lighten($color, $lighten), $color, vertical);
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}


$color: #6db362;


.rank{
  @include gradient-top-lighten;
  width: 100px;
  size: 12px;
  text-align: center;
}

.user-reward{
  color: $color;
  font-size: 15px;
}

ul{
  padding: 0;
}

.user-horse{
  list-style: none;
  float: left;
  margin-left: 5px;
}

.user {
  margin-bottom: 50px;
}
