// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";

$color: #6db362;

.user-reward{
  color: $color;
  font-size: 15px;
}

ul{
  padding: 0;
}

.user-horse{
  list-style: none;
  float: left;
  margin-left: 5px;
}

.line{
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  @include box-shadow(rgba(255,255,255, .3)0 1px 0);
}
